<html>
  <head>
    <title>BigSpoon</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div>
      <h1>BigSpoon: </h1>
      <h2>A spoons tracker for those with no spoons to waste.</h2>
      <p>What started as a simple story has evolved into a new way of expressing chronic illness in a way that even small children can understand.</p>
      <p>We aim to create a space that will allow people of all ages and illnesses to track their spoons, both in a positive (couting up) way and in a negative (counting down) way.</p>
      <p>Join today to discover a new way of tracking your daily energy expenditures and work toward a better, more stable future.</p>
    </div>
    <div>
      <p>Look at the tasks you can track!</p>
      <a href='/task_list.html'>Tasks</a>
      <p>Look at our users!</p>
      <a href='/user_list.html'>Users</a>
  </body>
</html>
