<!DOCTYPE html>
<html>
  <head>
    <title>BigSpoon</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  </head>
  <body>
    <h1><a href='/index.html'>BigSpoon</a></h1>
    <legend>
      <a href='/index.html'>Home</a>
      <a href='/user_list.html'>Users</a>
    </legend>
    <p>Here's a list of our Tasks:</p>
    <div>
      {% for task in tasks %}
        <div>
          <p><strong>Task: {{task.task}}</strong></p>
          <p>Value: {{task.value}}</p>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
