<!DOCTYPE html>
<html>
  <head>
    <title>BigSpoon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>
    <h1><a href='/index.html'>BigSpoon</a></h1>
    <legend>
      <a href='/index.html'>Home</a>
      <a href='/task_list.html'>Tasks</a>
    </legend>
    <p>Here's a list of our Users:</p>
    <div>
      {% for user in users %}
        <div>
          <p><strong>User: {{user.user_name}}</strong></p>
          <p>Gender: {{user.user_gender}}</p>
          <p>Birthdate: {{user.birthdate}}</p>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
