<!DOCTYPE html>
<html>
  <head>
    <title>BigSpoon</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1><a href='/index.html'>BigSpoon</a></h1>
    <legend>
      <a href='/index.html'>Home</a>
      <a href='/task_list.html'>Tasks</a>
    </legend>
    <p>Here's a list of our Users:</p>
    <div class="pure-g">
      {% for user in users %}
        <div class="pure-u-1-2">
          <p><strong>User: {{user.user_name}}</strong></p>
          <p>Gender: {{user.user_gender}}</p>
          <p>Birthdate: {{user.birthdate}}</p>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
